
.button::before{
    content: "Pasa por encima";
    font-weight: 400;
    width: 200px;
    height: 40px;
}

button:hover{
    background-color: green;
    color: white;
}

.button:hover::before{
    content: "Hecho";
    font-weight: 400;
    width: 200px;
    height: 40px;
}




